body{
  background-color:#919182;
}
.c1{
  width:300px;
  float:right;
  border:2px solid green;
  background-color:red;
}
.c2{
  width:300px;
  float:right;
  border:2px solid green;
  background-color:yellow;
}
.c3{
  width:300px;
  float:right;
  border:2px solid green;
  background-color:orange;
}
